<nav class="navbar">
    <div class="container-fluid container">
        <div class="navbar-header">
            <span class="logo">MyDirectory.io</span>
        </div>
        <div class="nav navbar-nav navbar-right">
            <a href="">Contact Name</a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-xs-7">
            <div class="row">
                <div class="col-xs-12">
                    <input type="text" class="form-control" placeholder="search" id="searchEmp">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-4">
                            <img src="{{ user.contactCard.photoUrl }}" alt="headshot" class="img-responsive">
                        </div>
                        <div class="col-xs-8">
                            <h4>{{ user.contactCard.firstName }}  {{ user.contactCard.lastName }}</h4>
                            <p><span class="title">Title: </span>{{ user.contactCard.title }}</p>
                            <p><span class="title">Department: </span>{{ user.contactCard.department }}</p>
                            <p><span class="title">Phone: </span>{{ user.contactCard.phone }}</p>
                            <p><span class="title">Ext: </span>{{ user.contactCard.extension }}</p>
                            <p><span class="title">Email: </span>{{ user.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{#each contacts}}
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-xs-4">
                                <img src="{{ this.photoUrl }}" alt="headshot" class="img-responsive">
                            </div>
                            <div class="col-xs-8">
                                <h4>{{ this.firstName }}  {{ this.lastName }}</h4>
                                <p><span class="title">Title: </span>{{ this.title }}</p>
                                <p><span class="title">Department: </span>{{ this.department }}</p>
                                <p><span class="title">Phone: </span>{{ this.phone }}</p>
                                <p><span class="title">Ext: </span>{{ this.extension }}</p>
                                <p><span class="title">Email: </span>{{ this.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="col-xs-5">
            {{#if user.isAdmin}}
                {{>adminSide}}
            {{else}}
                {{>userSide}}
            {{/if}}
        </div>
    </div>
</div>

